<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.douban.book" android:versionName="0.9.3.1" android:versionCode="6" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <supports-screens android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"/>

    <application android:label="@string/app_name" android:icon="@drawable/logo" android:theme="@style/DoubanTheme" android:hardwareAccelerated="false"
        android:name="com.douban.base.DoubanContext" android:configChanges="orientation|screenSize" >

        <activity android:label="@string/app_name" android:name=".SearchActivity" android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:label="@string/login" android:name=".LoginActivity" />
      <activity android:label="@string/favorite" android:name=".FavoriteBooksActivity" android:launchMode="singleTop"/>
      <activity android:label="@string/menu_settings" android:name=".SettingsActivity"/>
      <activity android:label="@string/mynote" android:name=".MyNoteActivity" android:launchMode="singleTop"/>
      <activity android:label="关于" android:name=".AboutActivity" />
        <activity android:label="@string/scan_book" android:name=".ScannerActivity"/>
        <activity android:name=".BookActivity"/>
        <activity android:label="@string/add_collection" android:name=".CollectionActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/annotation" android:name=".NotesActivity" />
        <activity android:label="@string/add_note" android:name=".AddNoteActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/annotation" android:name=".PublicNoteViewActivity" />
        <activity android:label="@string/review" android:name=".ReviewActivity" />
        <activity android:label="@string/mynote" android:name=".MyNoteViewActivity" />
        <activity android:label="@string/favorite_search" android:name=".FavoriteBooksListActivity" />
        <activity android:label="@string/favorite_search" android:name=".FavoriteBooksFilterActivity" />
        <activity android:label="@string/search" android:name=".SearchResultActivity" android:launchMode="singleTop"/>
        <activity android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity"
          android:stateNotNeeded="true">
        <intent-filter>
          <action android:name="com.google.zxing.client.android.ENCODE"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        <!-- This allows us to handle the Share button in Contacts. -->
        <intent-filter>
          <action android:name="android.intent.action.SEND"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:mimeType="text/x-vcard"/>
        </intent-filter>
        <!-- This allows us to handle sharing any plain text . -->
        <intent-filter>
          <action android:name="android.intent.action.SEND"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:mimeType="text/plain"/>
        </intent-filter>
      </activity>
    </application>
</manifest>
