<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.douban.book"  >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:label="@string/app_name"  android:theme="@android:style/Theme.Holo.Light"
        android:name="com.douban.base.Context" >

        <activity android:label="@string/search" android:name=".ui.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/login" android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
<!--        <activity android:label="@string/app_name" android:name=".ui.UploadFragment">
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        </activity>-->
        <activity android:label="@string/search" android:name=".ui.SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/scan_book" android:name=".ui.ScannerActivity"/>
        <activity android:name=".ui.BookActivity"/>
        <activity android:name=".ui.AboutActivity"/>
    </application>
</manifest>
