<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.douban.book"  >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application android:label="@string/app_name"  android:theme="@style/DoubanTheme"
        android:name="com.douban.base.Context" >

        <activity android:label="@string/search" android:name=".ui.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/login" android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
<!--        <activity android:label="@string/app_name" android:name=".ui.UploadFragment">
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        </activity>-->
        <activity android:label="@string/search" android:name=".ui.SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/scan_book" android:name=".ui.ScannerActivity"/>
        <activity android:name=".ui.BookActivity"/>
        <activity android:name=".ui.AboutActivity"/>
        <activity android:name="com.google.zxing.client.android.CaptureActivity" android:screenOrientation="landscape"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
